* {
  box-sizing: border-box;
}

body {
  background-color: rgba(223, 209, 191, 0.5);
  color: black;
}

#name p {
  text-shadow: aliceblue;
  color: white;
  font-family: serif;
  font-size: xx-large;
  font-weight: bolder;
}

#name p > a {
  color: white;
  text-decoration: none;
}
h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  font-weight: 300;
  font-style: normal;
  font-size: larger;
}

@media (min-width: 400px) {
  header {
    background-color: rgb(22, 216, 223);
    display: block;
    width: 100%;
    height: 10%;
    justify-content: center;
  }
  .header-title {
    padding-left: 5%;
  }
  a:hover {
    background-color: rgb(22, 216, 223);
    border-radius: 5px;
  }

  #name {
    width: 100%;
    margin-left: 35%;
    padding-top: 1vh;
  }
  #nav {
    background-color: teal;
    width: 100%;
    border: 1px solid white;
  }
  nav {
    padding: 2% 15%;
    width: 100%;
    justify-content: center;
  }
  .space {
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .nav-bar {
    display: block;
    border: 1px solid white;
    text-decoration: none;
    width: 100%;
    color: white;
    font-family: serif;
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
  }
}

@media (min-width: 768px) {
  header {
    background-color: rgb(22, 216, 223);
    display: inline-flex;
    width: 100%;
    height: 15vh;
  }
  .title {
    padding-left: 0%;
  }
  #name {
    width: 60%;
    margin-left: 5%;
    padding-top: 1vh;
  }
  a:hover {
    background-color: rgb(22, 216, 223);
    border-radius: 5px;
  }

  #nav {
    width: 100%;
    margin-right: 2%;
    background-color: rgb(22, 216, 223);
    border: none;
  }

  nav {
    display: inline-flex;
    margin-top: 2%;
    margin-bottom: 15%;
    padding: 2% 0;
    height: 2%;
  }

  .nav-bar {
    /* background-color: blue; */
    flex-flow: row;
    font-size: 2vh;
    color: black;
    font-family: serif;
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
  }
}
